page-home {
    ion-col div {
        background-color: #ff7d65;
         border: 1px #a75151;
        text-align: center;
        width:118%;
        height: 25vh;
        box-shadow: solid 3px #a75151;
      }

      ion-content{
          background: url("../../assets/imgs/topBack.jpg");
          background-position: left;
          background-size: cover;
          background-repeat: no-repeat;
          text-align: center;
          position: fixed;

      }

      //box shading
      #shade{
          box-shadow: inset 0px 0px 15px black;
        }

      //grid blocks
      .div{
        width: 123%;
        margin-left: -16.5%; 
        text-align: center;
        color:#fb7f71;
      
        }

    //the entire grid
      .grid{
          margin-top: 29%;
          margin-left:0;
          position: static,bottom,fixed;
          color:#fb7f71;
          text-align: center;
        }

      //icons in first div
      .icon{
        width:25%;
        image-orientation: initial;
        margin-top: 30%; 
        }

    //  icons in second div
      .icon2{
        width:25%;
        margin-top: 30%; 
        color: #e6e9ee;
      }

      //top image
      .image{
          margin-top: 20%;
          margin-bottom: 20%;
          margin-left: auto;
          margin-right: auto;
          display: block;
      }
    .corner{
        border-top-left-radius: 20px;
        
    }

    #corner{
        border-top-right-radius:20px;
        
    }

    @media screen and (max-width: 800px) {
         div {   
            width: 100%;
            padding: 0;
        }
    }
    
    @media screen and (max-width: 800px) {
        div {   
            width: 100%;
            padding: 0;
        }
    }
}
